@model IEnumerable<Veterinarios.Models.Vet>

@{
    ViewData["Title"] = "Index";
}

<h1>Veterinary</h1>

<p>
    <a asp-action="Create">Add a new New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @html.DisplayNameFor --> HTML Helper 
                    this one is used to show the atrribute name
                *@
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalLicense)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var vet in Model) {
        <tr>
            <td>
                @* @html.DisplayFor --> Mostra o conteudo do campo *@
                @Html.DisplayFor(modelItem => vet.Name)
            </td>
            <td>
                @* display vet´s photo *@
                @* there are 2 differents ways to acess vets data
                    a) using html helpers:@Html.DisplayFor(modelItem => vet.Photo)
                    b) using foreach internal variable: vet
                *@
                    @if (!string.IsNullOrEmpty(vet.Photo)) {
                        <a href="~/Photos/noVet.png" target="_blank"> 
                            <img src="~/Photos/@vet.Photo" 
                            alt="Photo of the vet: @Html.DisplayFor(modelItem => vet.Name)"
                            title="@vet.Name" 
                            height="50" />
                        </a>
                    } else {
                        <img src="~/Photos/@vet.Photo" 
                        alt="Photo of the vet: @Html.DisplayFor(modelItem => vet.Name)"
                        title="@vet.Name" 
                        height="50" />
                    }

            </td>
            <td>
                @Html.DisplayFor(modelItem => vet.ProfessionalLicense)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@vet.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@vet.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@vet.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
